<template>
  <v-expansion-panel>
    <v-expansion-panel-title>
      <v-row>
        <v-col cols="12">
          <slot name="title">
            <v-row>
              <v-col>{{ title }}</v-col>
              <v-col class="text-medium-emphasis">21/02/2025</v-col>
              <v-col>
                <v-chip variant="outlined" :color="formatedStatus.color" v-if="formatedStatus">
                  {{ formatedStatus.name }}
                </v-chip>
              </v-col>
              <v-spacer />
            </v-row>
          </slot>
        </v-col>
        <v-col>
          <div class="mr-2">
            <v-chip :color="tag.color" class="mr-1" v-for="tag in computedTags" :key="tag.name">
              <v-icon start :icon="tag?.iconName" v-if="tag.iconName || tag.iconFile">
                <v-img :src="tag.iconFile" v-if="tag.iconFile" />
              </v-icon>
              {{ tag.name }}
            </v-chip>
          </div>
        </v-col>
      </v-row>
    </v-expansion-panel-title>
    <v-expansion-panel-text>
      <slot name="default"></slot>
      <slot name="links">
        <div v-if="links">
          <hr/>
          <h3>Liens</h3>
          <v-row>
            <v-col v-for="link in links" :key="link.name">
              <a :href="link.href">{{ link.title }}</a>
            </v-col>
          </v-row>
        </div>
      </slot>
    </v-expansion-panel-text>
  </v-expansion-panel>
</template>

<script setup>
import { computed } from 'vue'
import deviconNix from 'devicon/icons/nixos/nixos-plain.svg'
import deviconVuejs from 'devicon/icons/vuejs/vuejs-original.svg'
import deviconGo from 'devicon/icons/go/go-original.svg'
import deviconPython from 'devicon/icons/python/python-plain.svg'
import deviconAngular from 'devicon/icons/angular/angular-original.svg'
import deviconRust from 'devicon/icons/rust/rust-original.svg'
import deviconRedis from 'devicon/icons/redis/redis-plain.svg'
import deviconDjango from 'devicon/icons/django/django-plain.svg'
import deviconGraphQL from 'devicon/icons/graphql/graphql-plain.svg'

const props = defineProps({
  title: String,
  text: String,
  tags: Array,
  links: Object,
  status: {
    type: String,
    validator(value) {
      return ['in-progress', 'paused', 'supported', 'stopped'].includes(value)
    },
  },
})

const formattedTags = [
  {
    id: 'nixOS',
    name: 'NixOS',
    color: 'light-blue',
    iconFile: deviconNix,
  },
  {
    id: 'linux',
    name: 'Linux',
    color: 'orange',
    iconName: 'mdi-linux',
  },
  {
    id: 'network',
    name: 'Network',
    color: 'purple',
    iconName: 'mdi-nas',
  },
  {
    id: 'self-hosting',
    name: 'Self Hosting',
    color: 'grey',
    iconName: 'mdi-cloud-download',
  },
  {
    id: 'green-it',
    name: 'Green-IT',
    color: 'green',
    iconName: 'mdi-leaf-circle',
  },
  {
    id: 'vuejs',
    name: 'VueJS',
    color: 'light-green',
    iconFile: deviconVuejs,
  },
  {
    id: 'go',
    name: 'Go',
    color: 'light-blue',
    iconFile: deviconGo,
  },
  {
    id: 'rust',
    name: 'Rust',
    color: 'orange',
    iconFile: deviconRust,
  },
  {
    id: 'redis',
    name: 'Redis',
    color: 'red',
    iconFile: deviconRedis,
  },
  {
    id: 'angular',
    name: 'Angular',
    color: 'red',
    iconFile: deviconAngular,
  },
  {
    id: 'python',
    name: 'Python',
    color: 'amber',
    iconFile: deviconPython,
  },
  {
    id: 'django',
    name: 'Django',
    color: 'light-green',
    iconFile: deviconDjango,
  },
  {
    id: 'graphql',
    name: 'GraphQL',
    color: 'purple-lighten-2',
    iconFile: deviconGraphQL,
  },


  {
    id: 'supported',
    name: 'Supported',
    color: 'light-green',
  },
  {
    id: 'in-progress',
    name: 'In Progress',
    color: 'blue',
  },
  {
    id: 'paused',
    name: 'Paused',
    color: 'orange',
  },
  {
    id: 'stopped',
    name: 'Stopped',
    color: 'red',
  },
]

const computedTags = computed(() => {
  return props.tags
    ?.map((tagId) => {
      return (
        formattedTags.find((tag) => tag.id === tagId) || {
          name: tagId,
        }
      )
    })
    .filter((tag) => !!tag).sort((a,b) => a.name.localeCompare(b.name))
})

const formatedStatus = computed(() =>
  formattedTags.find(tag => tag.id === props.status)
)
</script>

<style scoped></style>
