<template>
  <v-app id="inspire" :theme="theme">
    <v-app-bar>
      <v-app-bar-title>Shobu Ser'Hao random stuff</v-app-bar-title>

      <v-app-bar-nav-icon
        @click="theme = theme === 'dark' ? 'light' : 'dark'"
        :icon="theme === 'light' ? 'mdi-weather-night' : 'mdi-weather-sunny'"
      ></v-app-bar-nav-icon>
    </v-app-bar>

    <!--    <v-navigation-drawer-->
    <!--      v-model="drawer"-->
    <!--      :mobile="false"-->
    <!--      floating-->
    <!--      location="right"-->
    <!--      sticky-->
    <!--      class="bg-transparent elevation-0"-->
    <!--    >-->
    <!--      <template #prepend>-->
    <!--        <div class="text-h6 font-weight-medium mt-4 mb-2 ms-4">projects</div>-->
    <!--      </template>-->
    <!--      <ul class="ms-5">-->
    <!--        <li class="ps-3 text-primary active">test</li>-->
    <!--        <li class="ps-3">test</li>-->
    <!--        <li class="ps-3">test</li>-->
    <!--        <li class="ps-3">test</li>-->
    <!--        <li class="ps-3">test</li>-->
    <!--        <li class="ps-3">test</li>-->
    <!--      </ul>-->
    <!--    </v-navigation-drawer>-->

    <v-main>
      <v-container>
        <v-row>
          <v-col
            ><h1>A bit about me</h1>
            <p>
              Hello world, bienvenue sur mon mon petit bout d'internet. Probablement un peu vide au
              moment où vous lirez ces lignes, je compte le peupler d'articles diverses ou de mes
              notes lors de différentes divagation (vagation). Vous pourrez retrouver pas mal de
              sujets, en ce moment je travail beaucoup sur <b>NixOS</b> et tout ses quirks, mais
              aussi sur du <b>Python</b> en général, du <b>Javascript</b>, du <b>Rust</b>, du
              <b>Go</b>, <b>Elixir</b> quand il me vient l'envie de poser mon crâne sur une brique
              que même la brique elle à eu mal (renaud à jamais dans mon coeur). Mais aussi sur du
              <b>DevOps</b>, du <b>réseau</b>, de la <b>micro informatique</b>, ou encore les
              mangas, films et séries que j'ai lu, les musiques qui m'on marquées. Bref, on vas bien
              se marrer.
            </p></v-col
          >
        </v-row>
        <v-row>
          <v-col><h1>Mes projets</h1></v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-expansion-panels>
              <PortfolioItem
                title="HomeLab server"
                :tags="['nixOS', 'linux', 'network', 'self-hosting', 'green-it']"
                status="in-progress"
                :links="[
                  {
                    title: 'gitlab project',
                    href: 'https://gitlab.com/homelab6790906',
                  },
                ]"
              >
                <p>
                  Mise en place d'un cluster de serveur low-power afin d'héberger différentes
                  services et d'expérimenter sur différentes technologies de déploiement gestion
                  d'infrastructure et autre.
                </p>
                <hr />
                <h3>Hardware</h3>
                <p>
                  Le cluster se compose d'un zimaboard et d'un mini-pc utilisant un processeur intel
                  n100, ayant eu des problèmes lié à la stabilité du materiel fournis par orange, la
                  livebox à été remplacé par un PTO et un routeur custom sous openWRT (des articles
                  à venir sur le sujet)
                </p>
                <hr />
                <h3>Software</h3>
                <p>
                  Les deux serveurs tournent sous NixOS, une distribution linux basée sur un système
                  de configuration déclaratif. À la manière d'un docker compose, on vas décrire dans
                  des fichiers la configuration de notre serveur et cette dernière sera interprétée
                  et mise en place par le système à chaque rebuild. Cela permet de garder une trace
                  complète de l'état du système, de le versionner et de permettre sa réplication de
                  manière rapide et efficace.
                </p>
              </PortfolioItem>

              <PortfolioItem
                title="Graphite Desktop"
                :tags="['nixOS', 'linux']"
                status="supported"
                :links="[
                  {
                    title: 'gitlab group',
                    href: 'https://gitlab.com/graphite9570848',
                  },
                ]"
              >
                <p>
                  Création d'un package de configuration pour Hyprland et Nixos permettant de
                  démarrer une utilisation complète d'hyprland sans toutes les étapes préliminaires
                  de configuration allant avec. L'idée étant de pouvoir réutiliser cette
                  configuration sur plusieurs supports en ayant juste à l'ajouter au système.
                </p>
                <p>
                  J'envisage d'ajouter des oprions afin de permettre la customisation par les
                  utilisateurs sans avoir à cloner le repository.
                </p>
              </PortfolioItem>

              <PortfolioItem
                title="BddTrans"
                :tags="['vuejs', 'rust', 'redis', 'graphql']"
                status="supported"
                :links="[
                  {
                    title: 'BddTrans',
                    href: 'https://bddtrans.fr'
                  },
                  {
                    title: 'Front',
                    href: 'https://bddtrans.shobu.fr/#/'
                  },
                  {
                    title: 'Back',
                    href: 'https://bddtrans-api.shobu.fr/#/'
                  },
                  {
                    title: 'Gitlab group',
                    href: 'https://gitlab.com/bddtrans/'
                  },
                ]"
              >
                Un front alternatif pour le site <a href="https://bddtrans.fr">BddTrans</a> offrant
                des fonctions de recherche plus avancées que le site de base. La stack est
                entièrement <i>dockeriser</i> avec <b>Compose</b>, il est composé d'un
                <a href="https://bddtrans.shobu.fr/#/">front</a> et d'une partie
                <a href="https://bddtrans-api.shobu.fr/#/">back</a> <br />
                le front est développer avec le framework <b>Quasar</b><br />
                le back est composé de deux modules, une api en <b>rust</b> et un parser en
                <b>python</b> qui vas crawler les données sur le site original.d
              </PortfolioItem>

              <PortfolioItem
                title="Shobu.fr"
                :tags="['vuejs', 'python', 'graphql']"
                status="in-progress"
                :links="[
                  {
                    title: 'front repository',
                    href: 'https://gitlab.com/shobu13/shoblog'
                  }
                ]"
              >
                <p>
                  Pour le moment simple portfolio (sur lequel vous êtes normalement, sinon c'est un
                  peu étrange que vous lisez cela), destiné à devenir un blog / digital garden sur
                  des sujets allant de l'IT à la culture populaire.
                </p>
              </PortfolioItem>

              <PortfolioItem title="Plurals" :tags="['vuejs', 'redis', 'graphql']" status="paused" :links="[
                  {
                    title: 'front repository',
                    href: 'https://gitlab.com/shobu13/plurals'
                  }
                ]">
                <p>
                  Une application web / <i>PWA</i> faite pour simplifier la gestion et le partage de
                  Front pour les hôtes de sytème multiples
                </p>
                <p>
                  l'application est fait pour proposer une interface minimal et un partage rapide,
                  ne nescessitant pas de compte pour pouvoir avoir le status d'un <i>hôte</i>. De
                  plus, l'idée est de pouvoir proposer une base biographique pour chaque
                  <i>Alter</i>.
                </p>
              </PortfolioItem>

              <PortfolioItem title="Droneslator" :tags="['go', 'python']" status="paused" :links="[
                  {
                    title: 'gitlab repository',
                    href: 'https://gitlab.com/shobu13/droneslator'
                  }
                ]">
                <p>
                  Un outil de formatage de texte de connection sociale en peer to peer fonctionnant
                  en ligne de commande
                </p>
                <p>
                  La partie CLI est développé en <b>Go</b>, la partie discovery en <b>python</b>
                </p>
              </PortfolioItem>

              <PortfolioItem
                title="TheNightmareWeShare"
                :tags="['angular', 'python', 'django']"
                status="stopped"
                :links="[
                  {
                    title: 'back repository',
                    href: 'https://gitlab.com/shobu13/theNightmareWeShare'
                  },
                  {
                    title: 'front repository',
                    href: 'https://gitlab.com/shobu13/theNightmareWeShareAngularApp'
                  }
                ]"
              >
                <p>
                  Un expérimentation sur un système d'écriture de nouvelle collaborative dans un
                  style "livre dont vous ête le héros", mais où les embranchements sont déterminé
                  par le vote de la communauté.
                </p>
              </PortfolioItem>
            </v-expansion-panels>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup>
import { ref } from 'vue'
import PortfolioItem from '@/components/portfolio/portfolioItem.vue'

const theme = ref('dark')
</script>

<style scoped>
/*li {
  border-left: 2px solid rgb(var(--v-theme-on-surface-variant));
}

li.active {
  border-left-color: currentColor;
}

ul {
  list-style-type: none;
}

.ms-5 {
  margin-inline-start: 20px !important;
}*/
</style>
